@import "../../css-config/mixins.scss";

.main-header {
    width: 100%;
    padding: 0 21px;
    background-color: #212121;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: white;
    z-index: 98;
    @include md {
      padding: 0 40px;
    }
    .header-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1200px;
      height: 50px;
      margin: 0 auto;
      @include md{
          height: 80px;
      }
      .left {
        display: none;
        list-style: none;
        gap: 25px;
        @include md {
          display: flex;
        }
        li {
          font-size: 14px;
          font-weight: 600;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
      .center {
        font-size: 22px;
        font-weight: 700;
        cursor: pointer;
        @include md{
          font-size: 34px;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      .right {
        display: flex;
        align-items: center;
        gap: 20px;
        @include md {
          gap: 25px;
        }
        svg {
          @include md{
              font-size: 24px;
          }
          font-size: 20px;
          cursor: pointer;
        }
        .cart-icon {
          position: relative;
          span {
            background-color: #8e2de2;
            position: absolute;
            min-width: 20px;
            padding: 2.5px;
            top: -5px;
            text-align: center;
            font-size: 12px;
            left: 10px;
            border-radius: 10px;
            line-height: 1;
          }
        }
      }
    }
   &.sticky-header{
    position: sticky;
    top: 0;
    animation: stickyHeader 0.2 ease forwards;
   }
  }
  @keyframes stickyHeader{
    0% {transform: translateY(1px);}
    100%{transform: translateY(0);}
  }